@font-face{
    font-family: Alata-Regular;
    src: url(../fonts/Alata-Regular.ttf);
}
@font-face{
    font-family: Anton-Regular;
    src: url(../fonts/Anton-Regular.ttf);
}
@font-face{
    font-family: Oswald-VariableFont_wght;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}
@font-face{
    font-family: Oswald-Bold;
    src: url(../fonts/static/Oswald-Bold.ttf);
}
@font-face{
    font-family: Oswald-Regular;
    src: url(../fonts/static/Oswald-Regular.ttf);
}
@media screen and (max-width: 480px){

.background-public{
    background-image: url("../img/pexels-tatiana-fet-1105766.jpg");
    width: 100%;
    height: 1000px; 
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 130px;
    }
    
.styleReloj{
    text-align: center;
    margin: 0 auto;
    width: 200px;
    padding-top: 40px;
}
.styleReloj2{
    margin-top: 329px;
    text-align: center;
    padding-left: 117px;
}
.ajuste-col{
    flex-basis: auto !important;
}
.img-cuerpo{
    background-image: url("../img/pexels-yugdas-manandhar-2155319-just.jpg");
    width: 100%;
    height: 970px; 
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;   
}
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .background-public{
        background-image: url("../img/pexels-tatiana-fet-1105766.jpg");
        width: 100%;
        height: 750px; 
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 50px;
        }
        
.styleReloj{
    margin: 0 auto;
    width: 200px;
    padding: 60px;
}
.img-cuerpo{
    background-image: url("../img/pexels-yugdas-manandhar-2155319.jpg");
    width: 100%;
    height: 970px; 
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;   
}
.styleReloj2{
    margin-top: 267px;
    margin-left: 205px;
    padding: 60px;
}
}
@media screen and (min-width: 769px){
    .background-public{
        background-image: url("../img/pexels-tatiana-fet-1105766.jpg");
        width: 100%;
        height: 750px; 
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 50px;
        }
        
.styleReloj{
    margin: 0 auto;
    width: 200px;
    padding: 60px;
}
.img-cuerpo{
    background-image: url("../img/pexels-yugdas-manandhar-2155319.jpg");
    width: 100%;
    height: 970px; 
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;   
}
.styleReloj2{
    margin-top: 267px;
    margin-left: 205px;
    padding: 60px;
}
}


.padding{
    padding: 0px !important;
}
.margin{
    margin: 0px !important;
}
.contenido{
    padding: 20px;
}

.text-slider{
    color: white;
    font-family: Oswald-VariableFont_wght;
}
.titulo{
    padding-left: 20px;
    margin-top: 20px;
    font-size: 60px;
}
.texto-slider{
padding-left: 20px;
}
.alinear{
    text-align: center;
}
.nomBorder{
    border: none !important;
}
.subtitulo{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo-secundario{
    font-family: Oswald-Bold;
    font-size: 50px;
}
.titulo-secundario-2{
    margin-top: 120px;
    font-family: Oswald-Bold;
    font-size: 35px;
}
.texto-imagen{
    font-family: Oswald-Regular;
    font-size: 32px;
}
.margin-20{
    margin-top: 90px;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}
.botonspace{
    margin-top: 20px;
    margin-bottom: 60px;
}
/*FOOTER*/
.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #2e2e2e;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}
#titulo{
	font-size: 180%;
	color: white;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
    #logo{
        
        position: relative;
        width: 60%;
    }

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}